<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fatin.myapplication">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tongtong"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tongtong"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="TongTong"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateGroupActivity"
            android:label="Create Group"/>
        <activity
            android:name=".UpdateGroupActivity"
            android:label="Edit Group" />
        <activity
            android:name=".ViewGroupActivity"
            android:label="View Group"
            />
        <activity
            android:name=".AddParticipantActivity"
            android:label="Add New Participant" />

        <activity
            android:name=".TryCreate"
            android:label="Add Group" />
        <activity
            android:name=".TryParticipant"
            android:label="Add Participant" />

        <activity
            android:name=".AddItemActivity"
            android:label="Add Item" />
        <activity
            android:name=".OweActivity"
            android:label="History" />
        <activity
            android:name=".ReceiveMoneyActivity"
            android:label="History" />

        <activity
            android:name=".SetReminder"
            android:label="Set Reminder" />
    </application>

</manifest>